@import '../../../../_variables.scss';

.pokemon__artwork {
  display: flex;
  flex: 1 0 100%;
  flex-direction: row;

  height: 360px;

  margin-top: 1rem;
  margin-right: -1rem;
  margin-bottom: 1rem;
  margin-left: -1rem;

  background: $white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
