.pokedex__list__item {
  position: relative;

  display: flex;
  overflow: hidden;
  flex: 0 0 5rem;
  flex-direction: row;
  align-items: center;
  align-content: center;

  margin: .5rem;
  padding: 0 1rem;

  border-radius: 5px;

  background-color: #fafafa;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);

  &__sprite {
    z-index: 998;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 42px;
    height: 42px;
    margin-right: 3rem;

    border-radius: 50%;

    background-color: #fafafa;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  }

  &__pokemon {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: left;
  }

  &__dexnum,
  &__name {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
  }

  &__name {
    text-transform: capitalize;

    font-size: 1.2rem;
  }

  &__dexnum {
    color: #848484;

    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
  }

  &::before {
    position: absolute;

    top: 50%;
    left: 0;

    width: 0;
    height: 0;
    margin-top: -6rem;

    content: " ";
    pointer-events: none;

    border: solid transparent;
    border-width: 6rem;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: rgba(255, 83, 78, .8);
  }
}
