$white: #fff;
$pokeball-black: #000;
$pokeball-red: #ba0c2f;

$sea: #dcf2ff;
$mountain:#dfccbd;
$forest: #c5e6c4;
$rare: #e3eeff;
$urban: #dbd2d1;
$cave: #bec3c7;

$black: #272727;
$blue: #2b7fb3;
$brown: #b99170;
$gray: #748ca4;
$green: #57a454;
$pink: #b34a65;
$purple: #68296e;
$red: #c13731;
$lightgray: #bec3c7;
$yellow: #e6a438;


$bug: #899633;
$dark: #533f33;
$dragon: #4c3c8b;
$electric: #e69133;
$fairy: #e595dd;
$fighting: #5b261b;
$fire: #c11f15;
$flying: #5e74d0;
$ghost: #464782;
$grass: #36932e;
$ground: #9d824e;
$ice: #69d5ef;
$normal: #ada794;
$poison: #612b5f;
$psychic: #df2d65;
$rock: #9f8647;
$steel: #8f8e9c;
$water: #1966ad;

$hp: #e74b43;
$attack: #e67e38;
$defense: #f1c345;
$spcatk: #379ad7;
$spcdef: #29cb7a;
$speed: #f39b3a;

